.DS_Store
.settings
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.ca.ulaval.glo4003.settings
/.target
.settings/org.eclipse.core.resources.prefs
