<h1>
    Panier d'achats
    <button class="btn btn-danger remove-all" ng-show="cart.length > 0" ng-click="removeAllItem()">Vider le panier
    </button>
</h1>
<div class="alert alert-warning" ng-hide="cart.length" id="emptyAlert">Aucun billet dans le panier</div>
<table class="table" ng-show="cart.length > 0">
    <thead>
    <tr>
        <th>
            <input id="check-all" ng-change="toggleAll(selectAll)" ng-model="selectAll" type="checkbox" checked>
            Sélection
        </th>
        <th>Billets</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix total</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="item" ng-repeat="item in cart">
        <td>
            <input ng-click="unCheckSelectAllCheckbox()" id="itemCheck" type="checkbox" ng-model="item.selected">
        </td>
        <td>
            <a href="/#!/events/{{item.event.id}}">{{item.event.sport.name}} {{item.event.gender | gender}}
                {{item.event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</a>
        </td>
        <td>{{item.category.price}}$</td>
        <td>{{item.quantity}}</td>
        <td>{{item.quantity * item.category.price}}$</td>
        <td>
            <button class="btn btn-danger item-remove" ng-click="removeItem($index)">x</button>
        </td>
    </tr>
    <tr class="active">
        <td colspan="3">Total</td>
        <td>{{getTotalSelectedQuantity()}}</td>
        <td colspan="2">{{getTotalPrice()}}$</td>
    </tr>
    </tbody>
</table>

<div ng-hide="cart.length == 0">
    <h1>Paiement</h1>

    <form class="form-horizontal" role="form" name="checkout_form" novalidate ng-submit="checkout()">
        <div class="form-group">
            <div class="form-group">
                <label class="col-lg-2 control-label">Type de carte</label>

                <div class="col-lg-5">
                    <select id="credit-combo" class="form-control" ng-model="creditCard.type">
                        <option value="" default selected>Type de carte</option>
                        <option value="{{card}}" ng-repeat="card in validCards">{{card}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">No. Carte de crédit</label>

                <div class="col-lg-5">
                    <input type="text" class="form-control" id="card-number" required ng-pattern="/[0-9]{12}/"
                           placeholder="xxxxxxxxxxxxxxxx" ng-model="creditCard.number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">CVV</label>

                <div class="col-lg-5">
                    <input type="text" class="form-control" id="card-cvv" required ng-pattern="/[0-9]{3}/"
                           placeholder="xxx" ng-model="creditCard.cvv">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Date d'expiration</label>

                <div class="col-lg-2">
                    <select class="form-control input-inline" id="month-combo" required ng-pattern="/[09]{2}/"
                            ng-model="creditCard.date.month">
                        <option value="" default selected>Mois</option>
                        <option value="{{month}}" ng-repeat='month in monthOfYear'>{{month}}</option>
                    </select>
                    <br/>
                    <select class="form-control input-inline" id="year-combo" required ng-pattern="/[09]{4}/"
                            ng-model="creditCard.date.year">
                        <option value="" default selected>Année</option>
                        <option value="{{year}}" ng-repeat="year in expirationYears">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-2 col-lg-2">
                <button type="submit" id="pay-button" ng-disabled="checkout_form.$invalid" class="btn btn-success">
                    Acheter la sélection
                </button>
            </div>
        </div>
    </form>
</div>
