<h1>
    Panier d'achats
    <button class="btn btn-danger remove-all" ng-click="removeAllItem()">Vider le panier</button>
</h1>
<table class="table" ng-show="cart.length > 0">
    <thead>
    <tr>
        <th>Billets</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix total</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="item" ng-repeat="item in cart">
        <td>
            <a href="/#!/events/{{item.event.id}}">{{item.event.sport.name}} {{item.event.gender | gender}}
                {{item.event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</a>
        </td>
        <td>{{item.category.price}}$</td>
        <td>{{item.quantity}}</td>
        <td>{{item.quantity * item.category.price}}$</td>
        <td>
            <button class="btn btn-danger item-remove" ng-click="removeItem($index)">Retirer</button>
        </td>
    </tr>
    <tr class="active">
        <td colspan="2">Total</td>
        <td>{{getTotalQuantity()}}</td>
        <td colspan="2">{{getTotalValue()}}$</td>
    </tr>
    </tbody>
</table>

<div class="alert alert-warning" ng-show="cart.length == 0">Votre panier est vide</div>

<h1>Paiement</h1>
<p>TODO: Afficher le formulaire de paiement</p>
