<h1>Événements à venir</h1>
<div class="col-md-12">
    <div class="event row" ng-repeat="event in events">
        <span>{{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</span>
        <span>{{event.sport.name}}</span>
        <span ng-switch="event.gender">
            <span ng-switch-when="MALE">Masculin</span>
            <span ng-switch-when="FEMALE">Féminin</span>
        </span>
        <span class="numberOfTickets">{{event.totalNumberOfTickets}} billets disponibles</span>
        <a class="btn btn-info btn-xs" href="/#!/events/{{event.id}}"> voir</a>
    </div>
</div>
