<span ng-switch="event.gender">
    <h1 ng-switch-when="MALE">{{event.sport.name}} masculin</h1>
    <h1 ng-switch-when="FEMALE">{{event.sport.name}} féminin</h1>
</span>
<span>{{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</span>
<h2>Billets</h2>
<table class="table">
    <thead>
    <tr>
        <th>Prix</th>
        <th>Billets disponibles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="category" ng-repeat="category in event.categories">
        <td class="price">{{category.price}}$</td>
        <td class="numberOfTickets">{{category.numberOfTickets}}</td>
        <td>
            <button class="btn btn-success">Acheter</button>
        </td>
    </tr>
    </tbody>
</table>
