<h1>Événements</h1>
<div class="row">
    <div class="col-md-3 well">
        <p>Recherche</p>
        <select id="sportFilter" class="form-control" ng-model="filters.sport">
            <option value="">Filtrer par sport...</option>
            <option value="{{s.name}}" ng-repeat="s in facets.sport">{{s.name}}</option>
        </select>
        </br>
        <select id="genderFilter" class="form-control" ng-model="filters.gender">
            <option value="">Filtrer par sexe...</option>
            <option value="{{g}}"   ng-repeat="g in facets.gender">{{g | gender}}</option>
        </select>
        </br>
        <div class="row">
            <div class="col-md-12">
                <p>Date de début</p>
                <input id="dateStartFilter" type="date" ng-model="filters.dateStart" ng-minlength=10/>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-12">
                <p>Date de fin</p>
                <input id="dateEndFilter" type="date" ng-model="filters.dateEnd" ng-minlength=10/>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="alert alert-warning" ng-hide="events || isLoading" id="emptyAlert">Aucune partie</div>
        <div class="alert alert-info" ng-show="isLoading" id="loadingAlert">Chargement en cours...</div>
        <table class="table" ng-show="events.length > 0 && !isLoading" id="events">
            <thead>
            <tr>
                <th>Date</th>
                <th>Sport</th>
                <th>Genre</th>
                <th>Billets disponibles</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- TODO: Rename "events" in controller for "eventDtos" after jack client-side refactoring -->
            <tr class="event" ng-repeat="eventDto in events">
                <td class="date">{{eventDto.event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</td>
                <td class="sport">{{eventDto.event.sport.name}}</td>
                <td class="gender">{{eventDto.event.gender | gender}}</td>
                <td>
                    <span class="numberOfTickets">{{eventDto.ticketCount}}</span> billets disponibles
                </td>
                <td>
                    <a class="btn btn-info btn-xs btn-see-event-info" href="/#!/events/{{eventDto.event.id}}">Voir</a>
                </td>
                <!--ng-show only if the current user is logged in and is administrator-->
                <td>
                    <a class="btn btn-primary btn-xs" href="/#!/events/{{eventDto.event.id}}/addTicket">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
