<ol class="breadcrumb">
    <li><a href="/#!/events">Événements</a></li>
    <li class="active">Détail de l'événement</li>
</ol>

<h1>{{ event.sport.name }} {{event.gender | gender}}</h1>
<p>Date: {{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</p>

<h2>Billets</h2>
<table class="table">
    <thead>
    <tr>
        <th>Prix</th>
        <th>Billets disponibles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="category" ng-repeat="category in event.categories">
        <td class="price">{{category.price}}$</td>
        <td class="numberOfTickets">{{category.numberOfTickets}}</td>
        <td>
            <div class="row">
                <div class="col-md-2">
                    <input type="number" step="1" ng-model="quantity" ng-init="quantity=1"
                           class="form-control category-quantity" min="1" max="{{category.numberOfTickets}}">
                </div>

                <div class="col-md-3">
                    <select id="{{sectionsByCategories[category.id].name}}"
                            class="form-control"
                            ng-change="apiCall()"
                            ng-model="sectionsByCategories[category.id].value"
                            ng-options="s for s in sectionsByCategories[category.id].values">
                        <option value="">Section...</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <select id="{{ticketsByCategories[category.id].name}}"
                            class="form-control"
                            ng-model="ticketsByCategories[category.id].value">
                        <option value="">Siège disponible...</option>
                        <option value="{{ticket.id}}"
                                ng-repeat="ticket in ticketsByCategories[category.id].values">
                            {{ticket.seat}}
                        </option>
                    </select>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-success category-add"
                            ng-click="addToCart(ticketsByCategories[category.id].value, category)"
                            ng-hide="category.numberOfTickets == 0"
                            ng-disabled="!ticketsByCategories[category.id].value">
                        Ajouter au panier
                    </button>
                    <a href="/#!/tickets/{{ticketsByCategories[category.id].value}}"
                       ng-disabled="!ticketsByCategories[category.id].value"
                       class="btn btn-info">
                        Détails
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
