<ol class="breadcrumb">
    <li><a href="#/events">Évènements</a></li>
    <li class="active">Détail de l'évènement</li>
</ol>

<h1>{{ event.sport.name }} {{event.gender | gender}}</h1>
<p>Date: {{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</p>

<h2>Billets</h2>
<table class="table">
    <thead>
    <tr>
        <th>Prix</th>
        <th>Billets disponibles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="category" ng-repeat="category in event.categories">
        <td class="price">{{category.price}}$</td>
        <td class="numberOfTickets">{{category.numberOfTickets}}</td>
        <td>
            <div class="row">
                <div class="col-md-2">
                    <input type="number" step="1" ng-model="quantity" ng-init="quantity=1"
                           class="form-control category-quantity" min="1">
                </div>
                <div class="col-md-1">x</div>
                <div class="col-md-9">
                    <button class="btn btn-success category-add" ng-click="addToCart(quantity, category)"
                            ng-hide="category.numberOfTickets == 0">Ajouter au panier
                    </button>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
