<ol class="breadcrumb">
    <li><a href="/#!/events">Événements</a></li>
    <li><a href="/#!/events/{{event.id}}">Détail de l'évènement</a></li>
    <li class="active">Détail du billet</li>
</ol>

<h1>{{ event.sport.name }} {{event.gender | gender}}</h1>
<p>Date: {{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</p>

<h2>Billet</h2>

<table class="table" id="ticket">
    <tbody>
        <tr><td>Siège</td>                  <td>{{ticket.seat}}</td></tr>
        <tr><td>Section</td>                <td>{{ticket.section}}</td></tr>
        <tr><td>Catégorie</td>              <td>{{ticket.categoryId}}</td></tr>
        <tr><td>Équipe Hôte</td>            <td>{{event.homeTeam.name}}</td></tr>
        <tr><td>Équipe Visiteur</td>        <td>{{event.visitorTeam.name}}</td></tr>
        <tr><td>Prix</td>                   <td>{{event.categories[ticket.categoryId].price}}$</td></tr>
        <tr><td>Type</td>                   <td>{{event.categories[ticket.categoryId].type | categoryType}}</td></tr>
    </tbody>
  </table>
