<ol class="breadcrumb">
    <li><a href="/#!/events">Événements</a></li>
    <li><a id="eventDetails" href="/#!/events/{{event.id}}">Détails de l'évènement</a></li>
    <li class="active">Détails du billet</li>
</ol>

<h1>{{ event.sport.name }} {{event.gender | gender}}</h1>
<p>Date: {{event.dateAsString | date:'dd-MM-yyyy HH:mm'}}</p>

<h2>Billet</h2>

<table class="table" id="ticket">
    <tbody>
    <tr><td>Siège</td>                  <td id="seat">{{ticket.seat}}</td></tr>
    <tr><td>Section</td>                <td id="section">{{ticket.section}}</td></tr>
    <tr><td>Catégorie</td>              <td id="categoryId">{{ticket.categoryId}}</td></tr>
    <tr><td>Équipe Hôte</td>            <td id="homeTeamName">{{event.homeTeam.name}}</td></tr>
    <tr><td>Équipe Visiteur</td>        <td id="visitorTeamName">{{event.visitorTeam.name}}</td></tr>
    <tr><td>Prix</td>                   <td id="price">{{event.categories[ticket.categoryId].price}}$</td></tr>
    <tr><td>Type</td>                   <td id="categoryType">{{event.categories[ticket.categoryId].type | categoryType}}</td></tr>
    </tbody>
</table>
