<header class="navbar navbar-fixed-top navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a ng-href="#!/" class="navbar-brand">Billetterie R&O</a>
        </div>
        <nav role="navigation">

            <ul class="nav navbar-nav pull-right" ng-switch on="isLoggedIn">
                <li ng-switch-when="false">
                    <a class="login-status login-status-out" ng-href="#!/login">Connexion</a>
                </li>
                <li ng-switch-when="true">
                    <a class="login-status login-status-in" ng-href="#!/login" ng-click="logout()">Déconnexion</a>
                </li>
                <li>
                    <a ng-href="#!/cart">
                        Panier (<span class="cart-size">{{getTotalQuantity()}}</span>)
                    </a>
                </li>
                <li ng-show="isLoggedIn">
                    <a href="#!/user">
                        Votre profil (<span id="username">{{username}}</span>)
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
